html {
  background-color: #00264d;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(54, 230, 162);
  cursor:pointer;
  transform: rotate(3deg);
  font-size: 3em;
  transform: matrix(0.786,0.8,-0.8,0.866,0,0);
  transition-delay: 0.1s;
  transform:translate(25px,35px)
}

/* Barra procura */

.caixa-procura {
width: 100%;
max-width: 100%;
display: flex;
align-items: center;
margin: 10px auto 0 auto;
}

.caixa-procura__input {
margin: 0 auto;
padding: 0.5em;
font-size: 1.2em;
width: 100%;
border-radius: 5px;

}
/*    Cardlist    */

.card-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
text-align: center;
align-items: center;

}

.card{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 0;
  margin: 10px;

}

.card img{
transition: 0.3s;
}

.card-info__id{
font-size: 20px;
font-weight: bold;
}

/*     Detalhe dos cards      */

.card-info {
display: flex;
align-content: center;
justify-content: space-around;
align-items: center;
margin-top: 40px;
background-color: white;
}

.card-info img {
margin: 10px;
border-radius: 160px; 
}

.card-info__body button {

background-color: #4CAF50;
border: none;
margin-top: 15px;
padding: 15px 32px;
font-size: 18px;
color: rgb(0, 0, 0);
text-align: center;
text-decoration: none;
display: inline-block;
}

.card-info__body button:hover{
transform: translateX(-30px);
font-weight: bold;
font-size: 1em, large;
font-style: italic;
font-family: 'Verdana', serif;
letter-spacing: 3px;
line-height: .75em;
transform:skew(20deg,20deg);
color: #ffffff;


}

@media only screen and (max-width: 700px) {
body {
  background-color: rgb(54, 54, 54);
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.card{
    background-color: #afbee9;
    border: 0px solid #ffffff;
    color: rgb(3, 71, 71);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 10px 10px 10px; 
    margin: 10px 70px;
    font-weight: bolder;
}

.caixa-procura {
  width: 90%;
  max-width: 90%;
  display: flex;
  align-items: center;
  margin: 10px auto 0 auto;
}

.caixa-procura__input {
  margin: 0 auto;
  padding: 0.5em;
  font-size: 1.2em;
  width: 100%;
  border-radius: 5px;
}

.info {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background-color: white;
}

.info img {
  margin: 10px;
  width: 45%;
  border-radius: 160px; 
}

.info-body button {
  
  background-color: #4CAF50;
  border: none;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 15px 32px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.info-body button:hover{
  transform: translateX(-30px);
  font-weight: bold;
  font-size: 1em, large;
  font-style: italic;
  font-family: 'Verdana', serif;
  letter-spacing: 3px;
  line-height: .75em;
  transform:skew(20deg,20deg);
  color: #ffffff;
  
  
}
}
